body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 700px;
  background: #fff;
  margin: 16px auto; 
  padding: 10px; 
  
}

.title {
  background: #e3f4ff;
  padding: 20px; /*nothing was needed here */
  margin-bottom: 10px;
  margin-top: 10px; /* should be zero */
}

.content {
  background: #e3f4ff;
  font-size: 27px;
  padding: 10px /* they did top and bot seperate but i didnt */
}

.button-container {
  background: #e3f4ff;
  padding: 20px; /* they did less padding */
  margin-top: 10px;
  text-align: center;
  font-size: 24px;
  
}

button {
  background: white;
  border: 1px solid #eee;
  text-align: center;
  display: block; /*good call*/
  width: 150px; /*wasnt needed*/
  margin: 0 auto;
  font-size: 20px;
  /*i shpuld have put padding */
}