.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex; /*correct */
  justify-content: space-between; /* correct*/
  align-items: center; /*correct*/ 
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  flex: 0; /* wasnt needed */
  text-align: center; /*wasnt need */

  
}

ul {
  padding: 2px;
  margin: 5px;
  display: flex;
  /* this removes the dots on the list items*/
  list-style-type: none; /*only needed margin 0, padding gap 8 px */
  
}


.left-links { /*wasnt needed 4 left or right links */
  display: flex;
  flex: 1;
  justify-content: flex-start;
  
}
.right-links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
  flex: 1;
  margin: 4px; /*none of these were needed  */
}

/*oh well, its fibne  */